@import './base.css';
@import './header-footer.css';
@import './1-about-me.css';
@import './2-skills.css';
@import './3-projets.css';
@import './4-contact.css';

* {
  box-sizing: border-box;
}

:root {
  --background-color1-: #170a37;
  --background-color2-: #2f0e31;
  --orange-color-: orange;
  --green-color-: rgb(137, 194, 112);
}

body {
  background: linear-gradient(
    90deg,
    var(--background-color1-),
    var(--background-color2-),
    var(--background-color1-)
  );
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 16px;
  position: relative;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  /* border: blue solid 1px; */
}

h1 {
  color: white;
  font-size: 38px;
}

h2 {
  font-size: 30px;
  color: white;
  font-style: italic;
}

h3 {
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  /* font-style: italic; */
  margin-bottom: 20px;
  color: white;
}

p {
  line-height: 30px;
  color: white;
}
li {
  color: white;
  font-style: italic;
}

span {
  font-weight: bold;
}

a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
a:hover {
  color: var(--orange-color-);
}

button {
  background: none;
}
button:hover {
  cursor: pointer;
}

/* main */

section {
  padding: 80px;
  scroll-margin-top: 80px;
}

main a {
  color: var(--green-color-);
}

/*  */
/* Media Query */
/*  */

@media (max-width: 1040px) {
  .wrapper {
    width: 90vw;
  }
  section {
    padding: 80px 20px;
  }
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 860px) {
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 18px;
  }
}
