@import './fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --bg1: #0f172a;
  --bg2: #020617;
  --high1: #34d399; /*emerald-400*/
  --high2: #e89c1c; /*sky-300*/
}

.test {
  @apply text-rose-300;
}

/* --- */

body {
  @apply bg-[var(--bg1)] text-slate-100;
}

.wrapper {
  @apply mx-auto md:w-[90vw] max-w-5xl;
}

h3 {
  @apply text-[var(--high2)] font-space-grotesk text-2xl font-bold mb-6 sm:mb-12;
}
h4 {
  @apply text-center font-inter text-base md:text-lg lg:text-xl;
}

p {
  @apply font-inter text-sm md:text-base lg:text-lg;
}

section {
  @apply px-4 md:px-10 pt-10 pb-16;
}

span {
  @apply text-[var(--high1)];
}

/* Grain */

body::before {
  content: '';
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;

  background-image: radial-gradient(rgba(255, 255, 255, 0.025) 1px, transparent 1px);

  background-size: 3px 3px;
}

/* Design Animations */

.wrapper-trans {
  @apply transition-all duration-500 ease-out;
}

.theme-trans {
  @apply transition-all duration-300 ease-out;
}
.btn-trans {
  @apply transition-all duration-500 ease-out;
}

.header-changing {
  opacity: 0;
  transform: translateY(12px);
}
.theme-changing {
  transform: scale(1.15);
  opacity: 0;
}
