@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';

* {
  box-sizing: border-box;
}

:root {
  --background-color1-: #010f09;
  --background-color2-: #131c14;
  --orange-color-: orange;
  --green-color-: rgb(137, 194, 112);
}

body {
  background: linear-gradient(
    90deg,
    var(--background-color1-),
    var(--background-color2-),
    var(--background-color1-)
  );
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 16px;
  position: relative;
}

.wrapper {
  @apply mx-auto w-[90vw] max-w-5xl;
}

h3 {
  @apply text-xl sm:text-2xl font-bold text-white mb-6 sm:mb-12;
}

p {
  @apply leading-5 md:leading-8 text-white  text-sm md:text-base lg:text-lg;
}

li {
  @apply text-white italic;
}

a {
  @apply font-bold text-white;
}
a:hover {
  color: var(--orange-color-);
}
button {
  background: none;
}
button:hover {
  cursor: pointer;
}

section {
  @apply px-4 md:px-10 pt-10 pb-16;
  scroll-margin-top: 80px;
}

main a {
  color: var(--green-color-);
}
